<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        
        <div>
            <a class="nav-link" href="/stores">Home ||</a>
            <a class="nav-link" href="/stores/add">Add a New Store ||</a>
            <a class="nav-link" href="/employees">Employess</a>
        </div>
    </center>
   <center> <h1>Betamidi CMS</h1>

    <table border= "1">
     <thead class="table-dark">
         <tr>
             <br><br>
             <th>Name</th>
             <th>Code</th>
             <th>Location</th>
             <th>Category</th>
             <th>Action </th>
         </tr>
     </thead>
     <tr>
         <% data.forEach (el=> { %>
             <td>
                 <%= el.name %>
             </td>
             <td>
                 <%= el.code %>
             </td>
             <td>
                 <%= el.location %>
             </td>
             <td>
                 <%= el.category %>
             </td>
             <td>
                <a href="/stores/<%= el.id %> ">Show Detail</a>
             </td>
     </tr>
     <% }) %>
 </table>
</center>
</body>
</html>