<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      class="bg-image"
      style="
        background-image: url('https://source.unsplash.com/twukN12EN7c/1920x1080');
        height: 100vh;
      "
    >
      <%- include('partials/navbar.ejs') %>
      <center>
        <h1><%= data.name %></h1>
        <h3><%= data.code %></h3>
        <label for="">Employees Fee : <%= convertSalary(sum) %></label><br />

        <a href="/stores">Back to Stores Data</a><br /><br />
        Click <a href="/stores/<%= data.id %>/employees/add">Here</a> To Add
        Employee<br /><br />
        <% if(data.Employees.length < 1) {%>
        <p>There is no Employee yet</p>
        <% } else { %>
        <table class="table" style="max-width: 1100px">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Age</th>
              <th scope="col">Education</th>
              <th scope="col">Position</th>
              <th scope="col">Salary</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% data.Employees.forEach((el) => { %>
              <td><%= el.id %></td>
              <td><%= el.firstName %></td>
              <td><%= el.lastName %></td>
              <td><%= el.age %></td>
              <td><%= el.education %></td>
              <td><%= el.position %></td>
              <td><%= convertSalary(el.salary) %></td>
              <td>
                <a href="/stores/<%= data.id %>/employees/<%= el.id %>/edit"
                  ><button class="btn btn-outline-primary">Edit</button></a
                >
                <a href="/stores/<%= data.id %>/employees/<%= el.id %>/delete"
                  ><button class="btn btn-outline-primary">Delete</button></a
                >
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } %>
      </center>
    </div>
  </body>
</html>
